<section class="bg-primary text-white pattern">
    <div class="container pt-5">
        <div class="row mb-2">
            <div class="col-md-8 col-lg-6">
                  <h2 class="h1-responsive font-weight-bold my-5">Les développeurs du projet</h2>
            </div>
        </div>
    </div>
</section>
