<!-- Section: Team v.1 -->
<%= render 'banner' %>

<section class="team-section text-center my-5">

  <!-- Section heading -->
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">La perfection n'existe pas, cependant, il est important de toujours tendre vers l'excellence</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
      <h5 class="font-weight-bold mt-4 mb-3">Cyril Avronsart</h5>
      <p class="text-uppercase blue-text"><strong>Développeur Full-Stack</strong></p>
      <p class="grey-text"> ... </p>
      <ul class="list-unstyled mb-0">
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic" href="https://github.com/belette06" target="_blank">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-5">
      <h5 class="font-weight-bold mt-4 mb-3">Nicolas Zwiller</h5>
      <p class="text-uppercase blue-text"><strong>Développeur Full-Stack</strong></p>
      <p class="grey-text"> ... </p>
      <ul class="list-unstyled mb-0">
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic" href="https://github.com/NIcoZF" target="_blank">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">
      <h5 class="font-weight-bold mt-4 mb-3">Vincent Leparoux</h5>
      <p class="text-uppercase blue-text"><strong>Développeur Full-Stack</strong></p>
      <p class="grey-text"> ... </p>
      <ul class="list-unstyled mb-0">
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic" href="https://github.com/Vincelep" target="_blank">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
      <h5 class="font-weight-bold mt-4 mb-3">Olivier Cardinaux</h5>
      <p class="text-uppercase blue-text"><strong>Développeur Full-Stack</strong></p>
      <p class="grey-text"> ... </p>
      <ul class="list-unstyled mb-0">
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic" href="https://github.com/ocardinaux" target="_blank">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
      <h5 class="font-weight-bold mt-4 mb-3">Guillaume MULEZI</h5>
      <p class="text-uppercase blue-text"><strong>Développeur Full-Stack</strong></p>
      <p class="grey-text">Reste calme et donne tous ce que tu as dans les tripes</p>
      <ul class="list-unstyled mb-0">
        <!-- Github -->
        <a class="p-2 fa-lg ins-ic" href="https://github.com/TheMindset" target="_blank">
          <i class="fab fa-github blue-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column -->


  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.1 -->