  <tr>
      <td><%= image_tag show_list.cat.item_picture, class: "mr-3", style: "width: 64px;" %></td>
      <td><%= show_list.cat.title %></td>
      <td class="text-right pr-4"><%= number_to_currency(show_list.price) %></td>
      <td class="text-right pl-6"> <%= link_to "Supprimer", cart_cat_path(show_list.id), method: :delete, class: 'btn btn-primary btn-sm text-danger' %> </td>
  </tr>
