
<footer class="bg-dark text-white" >
  <div class="tab-content" id="component-2">
    <div class="tab-pane" id="component-2-1" role="tabpanel" aria-labelledby="component-2-1"></div>
    <div class="tab-pane show active" id="component-2-2" role="tabpanel" aria-labelledby="component-2-2">
      <div class="component-example component-example-fit">
        <footer class="bg-dark text-white">
          <div class="container">
            <div class="row text-center d-flex justify-content-center pt-2 mb-3">
              <div class="col-md-2 mb-2">
                <h6 class="text-uppercase font-weight-bold">
                  <%= link_to "A propos", team_project_path%>
                </h6>
              </div>
              <div class="col-md-2 mb-2">
                <h6 class="text-uppercase font-weight-bold">
                <%= link_to "Nos images", cats_path %>
                </h6>
              </div>
            </div>
            
            <hr class="rgba-white-light" style="margin: 0 15%;">

              <div class="container sct-inner">
                  <div class="row cols-xs-space cols-sm-space cols-md-space">

                      <div class="col-lg-4 b-lg-right b-inverse">
                          <div class="px-3 py-3 text-lg-center">
                              <h6 class="strong-600 text-uppercase ls-1 font-weight-bold">Télechargement immédiat</h6>
                              <p class="c-white alpha-8 line-height-1_6">
                                  Photos téléchargeables en moins d'une minute 
                              </p>
                          </div>
                      </div>

                      <div class="col-lg-4 b-lg-right b-inverse">
                          <div class="px-3 py-3 text-lg-center">
                              <h6 class="text-uppercase ls-1 font-weight-bold">Pictures Corporation</h6>
                              <p class="c-white alpha-8 line-height-1_6">
                                  Nos photos sont certifiées PictCorporate-x-2018
                              </p>
                          </div>
                      </div>

                      <div class="col-lg-4">
                        <div class="px-3 py-3 text-lg-center">
                            <h6 class="text-uppercase ls-1 font-weight-bold">Secure payment</h6>
                            <ul class="inline-links list-unstyled mt-2">
                                <li>
                                    <i class="fab fa-lg fa-cc-visa"></i>
                                </li>
                                <li>
                                    <i class="fab fa-lg fa-cc-mastercard"></i>
                                </li>
                                <li>
                                    <i class="fab fa-lg fa-cc-paypal"></i>
                                </li>
                            </ul>
                        </div>
                      </div>

                  </div>
              </div>

            </div>
          </div>
        </footer>
      </div>
    </div>
    </div>
  </div>
</footer>
